* {
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: 'Rubik', sans-serif;
}
main {
    height: 100vh;
}
h1 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.1;
}
h2, .form-group > label {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    opacity: 0.5;
}
.btn {
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 16px 20px 15px 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-primary {
    color: #fff;
    background-color: #01A990;
    border-color: #01A990;
}
.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #01886a;
    border-color: #01886a;
}
.content {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
}
.card {
    margin-bottom: 30px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 15px 30px -5px rgba(0,0,0,0.25);
    padding: 40px 30px;
}
.form-check {
    padding-top: 2px;
    padding-bottom: 2px;
}
input#randomResult {
    padding: 20px 30px;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    border: dashed 2px #ccc;
    width: 100%;
}
div#result {
    margin-top: 20px;
}
@media screen and (max-width:767px) {
	.d-flex.align-items-center.h-100 {
	    display: block!important;
	}
	.content {
	    padding-top: 30px;
	}
}
@media screen and (max-width: 575px) {
	h1 {
	    font-size: 26px;
	}
	.content {
	    padding-top: 15px;

	}
}
@media screen and (max-width: 320px) {
	.card {
	    padding: 30px 20px;
	}
}